USE [QUANLYBANHANG]
GO
ALTER TABLE [dbo].[per_relationship] DROP CONSTRAINT [FK_per_relationship_user]
GO
ALTER TABLE [dbo].[per_relationship] DROP CONSTRAINT [FK_per_relationship_permision]
GO
ALTER TABLE [dbo].[KhachHang] DROP CONSTRAINT [FK_KhachHang_ThanhPho1]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [FK_HoaDon_NhanVien1]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [FK_HoaDon_KhachHang1]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] DROP CONSTRAINT [FK_ChiTietHoaDon_SanPham]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] DROP CONSTRAINT [FK_ChiTietHoaDon_HoaDon1]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/26/2025 9:56:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[users]') AND type in (N'U'))
DROP TABLE [dbo].[users]
GO
/****** Object:  Table [dbo].[ThanhPho]    Script Date: 4/26/2025 9:56:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ThanhPho]') AND type in (N'U'))
DROP TABLE [dbo].[ThanhPho]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 4/26/2025 9:56:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SINHVIEN]') AND type in (N'U'))
DROP TABLE [dbo].[SINHVIEN]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 4/26/2025 9:56:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SanPham]') AND type in (N'U'))
DROP TABLE [dbo].[SanPham]
GO
/****** Object:  Table [dbo].[permision]    Script Date: 4/26/2025 9:56:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[permision]') AND type in (N'U'))
DROP TABLE [dbo].[permision]
GO
/****** Object:  Table [dbo].[per_relationship]    Script Date: 4/26/2025 9:56:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[per_relationship]') AND type in (N'U'))
DROP TABLE [dbo].[per_relationship]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 4/26/2025 9:56:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NhanVien]') AND type in (N'U'))
DROP TABLE [dbo].[NhanVien]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/26/2025 9:56:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KhachHang]') AND type in (N'U'))
DROP TABLE [dbo].[KhachHang]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 4/26/2025 9:56:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HoaDon]') AND type in (N'U'))
DROP TABLE [dbo].[HoaDon]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 4/26/2025 9:56:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ChiTietHoaDon]') AND type in (N'U'))
DROP TABLE [dbo].[ChiTietHoaDon]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 4/26/2025 9:56:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 4/26/2025 9:56:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] NOT NULL,
	[MaKH] [int] NULL,
	[MaNV] [int] NULL,
	[NgayLapHD] [date] NULL,
	[NgayNhanHang] [date] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/26/2025 9:56:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] NOT NULL,
	[TenCongTy] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[MaTP] [int] NULL,
	[DienThoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 4/26/2025 9:56:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[GioiTinh] [bit] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [nvarchar](50) NULL,
	[NgayNV] [date] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[per_relationship]    Script Date: 4/26/2025 9:56:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[per_relationship](
	[id_rel] [nvarchar](50) NOT NULL,
	[id_user] [nvarchar](50) NOT NULL,
	[id_per] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_per_relationship] PRIMARY KEY CLUSTERED 
(
	[id_rel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permision]    Script Date: 4/26/2025 9:56:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permision](
	[id_per] [nvarchar](50) NOT NULL,
	[name_per] [nvarchar](50) NULL,
	[description] [nvarchar](50) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[id_per] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 4/26/2025 9:56:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] NOT NULL,
	[TenSP] [nvarchar](50) NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[Gia] [int] NOT NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 4/26/2025 9:56:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MaSV] [int] IDENTITY(1,1) NOT NULL,
	[TenSV] [nvarchar](50) NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhPho]    Script Date: 4/26/2025 9:56:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhPho](
	[MaTP] [int] NOT NULL,
	[TenTP] [nvarchar](50) NULL,
 CONSTRAINT [PK_ThanhPho] PRIMARY KEY CLUSTERED 
(
	[MaTP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/26/2025 9:56:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id_user] [nvarchar](50) NOT NULL,
	[name_user] [nvarchar](50) NOT NULL,
	[user_name] [nvarchar](50) NOT NULL,
	[pass] [nvarchar](50) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong]) VALUES (111, 2, 200)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong]) VALUES (111, 3, 400000)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong]) VALUES (111, 6, 400000)
GO
INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [MaNV], [NgayLapHD], [NgayNhanHang]) VALUES (111, 201, 1001, CAST(N'2021-07-10' AS Date), CAST(N'2021-07-12' AS Date))
INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [MaNV], [NgayLapHD], [NgayNhanHang]) VALUES (112, 203, 1003, CAST(N'2021-07-11' AS Date), CAST(N'2021-07-15' AS Date))
INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [MaNV], [NgayLapHD], [NgayNhanHang]) VALUES (113, 201, 1001, CAST(N'2021-07-20' AS Date), CAST(N'2021-07-25' AS Date))
GO
INSERT [dbo].[KhachHang] ([MaKH], [TenCongTy], [DiaChi], [MaTP], [DienThoai]) VALUES (201, N'Cenco', N'Ba Đình', 101, N'1234566')
INSERT [dbo].[KhachHang] ([MaKH], [TenCongTy], [DiaChi], [MaTP], [DienThoai]) VALUES (202, N'DaiKin', N'Hạ Long', 104, N'4567896')
INSERT [dbo].[KhachHang] ([MaKH], [TenCongTy], [DiaChi], [MaTP], [DienThoai]) VALUES (203, N'VinFast', N'Giải Phóng', 101, N'999999')
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [DiaChi], [DienThoai], [NgayNV]) VALUES (1001, N'Long', 1, N'Hà Nội', N'123456', CAST(N'2021-07-28' AS Date))
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [DiaChi], [DienThoai], [NgayNV]) VALUES (1002, N'Linh', 1, N'Thanh Trì', N'456789', CAST(N'2021-06-25' AS Date))
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [DiaChi], [DienThoai], [NgayNV]) VALUES (1003, N'Thảo', 0, N'Long Biên', N'234678', CAST(N'2021-05-05' AS Date))
GO
INSERT [dbo].[per_relationship] ([id_rel], [id_user], [id_per]) VALUES (N'1', N'1', N'1')
INSERT [dbo].[per_relationship] ([id_rel], [id_user], [id_per]) VALUES (N'2', N'2', N'2')
INSERT [dbo].[per_relationship] ([id_rel], [id_user], [id_per]) VALUES (N'3', N'3', N'2')
GO
INSERT [dbo].[permision] ([id_per], [name_per], [description]) VALUES (N'1', N'Admin', N'Nhóm quyền cao nhất')
INSERT [dbo].[permision] ([id_per], [name_per], [description]) VALUES (N'2', N'Read only', N'Nhóm chỉ xem dữ liệu')
INSERT [dbo].[permision] ([id_per], [name_per], [description]) VALUES (N'3', N'Edit', N'Nhóm chỉnh sửa, xóa và xem dữ liệu')
GO
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonViTinh], [Gia]) VALUES (1, N'Cá ngừ', N'Kg', 150000)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonViTinh], [Gia]) VALUES (2, N'Mực', N'Kg', 250000)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonViTinh], [Gia]) VALUES (3, N'Tôm xú', N'Kg', 300000)
GO
SET IDENTITY_INSERT [dbo].[SINHVIEN] ON 

INSERT [dbo].[SINHVIEN] ([MaSV], [TenSV]) VALUES (1, N'uy')
INSERT [dbo].[SINHVIEN] ([MaSV], [TenSV]) VALUES (2, N'long')
INSERT [dbo].[SINHVIEN] ([MaSV], [TenSV]) VALUES (3, N'vinh')
SET IDENTITY_INSERT [dbo].[SINHVIEN] OFF
GO
INSERT [dbo].[ThanhPho] ([MaTP], [TenTP]) VALUES (101, N'Hà Nội')
INSERT [dbo].[ThanhPho] ([MaTP], [TenTP]) VALUES (102, N'Hồ Chí Minh')
INSERT [dbo].[ThanhPho] ([MaTP], [TenTP]) VALUES (103, N'Huế')
GO
INSERT [dbo].[users] ([id_user], [name_user], [user_name], [pass]) VALUES (N'1', N'uy', N'admin', N'admin')
INSERT [dbo].[users] ([id_user], [name_user], [user_name], [pass]) VALUES (N'2', N'Nam', N'nam', N'nam')
INSERT [dbo].[users] ([id_user], [name_user], [user_name], [pass]) VALUES (N'3', N'long', N'long', N'long')
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon1] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon1]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang1] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang1]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien1] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien1]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_ThanhPho1] FOREIGN KEY([MaTP])
REFERENCES [dbo].[ThanhPho] ([MaTP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_ThanhPho1]
GO
ALTER TABLE [dbo].[per_relationship]  WITH CHECK ADD  CONSTRAINT [FK_per_relationship_permision] FOREIGN KEY([id_per])
REFERENCES [dbo].[permision] ([id_per])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[per_relationship] CHECK CONSTRAINT [FK_per_relationship_permision]
GO
ALTER TABLE [dbo].[per_relationship]  WITH CHECK ADD  CONSTRAINT [FK_per_relationship_user] FOREIGN KEY([id_user])
REFERENCES [dbo].[users] ([id_user])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[per_relationship] CHECK CONSTRAINT [FK_per_relationship_user]
GO
